@import url('https://fonts.googleapis.com/css?family=Titillium+Web:400,600&display=swap');

/*body*/
.Course-Outline {
    width: 90rem;
    height: 90.25rem;
    background-color: #ffffff;
  }
/*header*/
    .Rectangle {
        width: 1440px;
        height: 70px;
        box-shadow: inset 0 - 1px 0 0 #cfd8dd;
        background-color:#36414c;
    }  
    header .logo{ 
        position: relative;
        width: 113px;
        height: 44px;
        margin-top: 13px;
        margin-left: 24px;
        margin-right: 733px;
    }
    header {
        display: flex;
        justify-content:  flex;                  
    }
    .home {
        margin-left: 58px;
        width: 33px;
        height: 20px;
        font-family: 'Titillium Web', sans-serif, '600';
        font-size: 12px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.67;
        letter-spacing: normal;
        color: #ffffff;       
    }
    .courses {
        margin-left: 58px;
        width: 50px;
        height: 20px;
        font-family: 'Titillium Web', sans-serif, '600';
        font-size: 12px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.67;
        letter-spacing: normal;
        color: #ffffff;
    }
    .contact-us {
        margin-left: 58px;
        width: 66px;
        height: 20px;
        font-family: 'Titillium Web', sans-serif, '600';
        font-size: 12px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.67;
        letter-spacing: normal;
        color: #ffffff;
    }
    .cart {
        margin-left: 63px;
        width: 28px;
        height: 20px;
        font-family: 'Titillium Web', sans-serif, '600';
        font-size: 12px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.67;
        letter-spacing: normal;
        color: #ffffff;
    }
    .tab-headers ul {
        list-style-type: none;
            
    }
    .tab-headers ul li {
        display: inline-flex;
        margin-top: 26px;
    }
    .Oval {
        margin-top: 18px;
        margin-left: 36px;
        width: 35px;
        height: 35px;
        border-radius: 50%;
        background-color: #ffffff;    
    }
    

/*section*/
    .Mask {
        background-color: #ffffff;
        width: 1440px;
        height: 57.063rem;
    }
    .Outline  {
        position: relative;
        display: block;
        margin-top: 5.125rem;
        margin-left: 27.313rem;
        width: 30.313rem;
        height: 3.188rem;
        font-family:  'Titillium Web', sans-serif, '600';
        font-size: 3.125rem;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #343d42 var(--charcoal-grey);
}

/*slide show courses*/
    .fas  { /*arrow button*/
        position: absolute; 
        margin-top: -2.313rem;
        margin-left: 2.25rem;
        cursor: pointer;
        width: 2.188rem;
        height: 0.063rem;
        border: solid 1.5px #343d42;
        background-color: #d8d8d8;
    }
    .item {
        position: absolute;
        display: block;
        margin-top: 0.438rem;
        margin-left: 3.75rem;
    }
    .Become-a {
        margin-left: 1.813rem;
        width: 15.5rem;
        height: 3.313rem;
        font-family: 'Titillium Web', sans-serif, '600';;
        font-size: 0.938rem;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.2;
        letter-spacing: normal;
        color: #459de9;
    }
    .duration  {
        position: absolute;
        margin-left: 2.438rem;
        margin-top: -0.438rem;
        height: 1.125rem;
        font-family: 'Titillium Web', sans-serif, '400';;
        font-size: 0.938rem;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.2;
        letter-spacing: normal;
        color: #4a4a4a;
    }
    .maven-image  {
        margin-left: 2.063rem;
        width: 15.125rem;
        height: 15.125rem;
    }
    .Price {
        margin-left: 3.438rem;
        width: 13rem;
        height: 1.625rem;
        font-family: 'Titillium Web', sans-serif,'600';;
        font-size: 1.25rem;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 0.9;
        letter-spacing: normal;
        color: #3a9aef;
    }
    .Add-to-cart {
        margin-left: -0.313rem;
        width: 17.563rem;
        height: 1.125rem;
        font-family: 'Titillium Web', sans-serif, '600';
        font-size: 0.875rem;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.29;
        letter-spacing: normal;
        text-align: center;
        color: #4d96ee;
    }
    .enquiry button {
        width: 17.813rem;
        height: 2.5rem;
        border-radius: 22.5px;
        border: solid 2px #60a0e3;
    }
    .enquiry button:hover {
        cursor: pointer;
        background-color: #4a90e4;
        color: #ffffff;
        opacity: 0.8;
}

/*aside slide modules/tab modules */
    .Modules-label {
        position: absolute;
        display: block;
        margin-top: 1.653rem;
        margin-left: 27.938rem;
        width: 50.063rem;
        height: 2.813rem;
        font-family: 'Titillium Web', sans-serif, '600';
        font-size: 1.125rem;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 2.5;
        letter-spacing: normal;
        color: #4e555a;
    }
      .Modules-label a {
        font-weight: bold;
        color: #5198eb;
    } 
    .nav-item   {
        list-style-type: none;       
    }
     .nav-item   {
        display: inline-flex;
    }
    .classes {
        position:absolute;
        display: block;
        margin-top: 7.75rem;
        margin-left: 27.313rem;
        width: 57.188rem;
        height: 16.688rem;
        background-color: rgba(91, 157, 227, 0.08);   
    }
    .modules {
        position: absolute;
        display: block;
        margin-top: 2.25rem;
        margin-left: 2.813rem;
        width: 45.25rem;
        height: 10.938rem;
        font-family: 'Titillium Web', sans-serif, '400';
        font-size: 1rem;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 2.19;
        letter-spacing: normal;
        color: #4f5559;
        }
      .modules h5 {
        font-size: 1.375rem;
        font-weight: bold;
}
    
/*Section email send information and popup form*/

    .contact-page {
        position: relative;
        display: block;
        margin-top: 29.25rem;
        margin-left: 27.313rem;
        width: 57.188rem;
        height: 14.063rem;
        border-radius: 5px;
        box-shadow: 0 15px 30px 0 rgba(25, 71, 128, 0.2);
        background-color: #ffffff;
    }
    .background-img {
        position: absolute;
        margin-top: 3rem;
        margin-left: 2.438rem;
        width: 4.688rem;
        height: 4.688rem;
        display: block;
        background-color: #5b9de3;
        border-radius: 8px;
    }
    .bachler  {
        position: absolute;
        margin-top: 1.063rem;
        margin-left: 1.188rem;
        display: block;
        width: 2.5rem;
        height: 2.5rem;
    }
    .Want-to-find-out {
        position: absolute;
        display: block;
        margin-top: 3.063rem;
        margin-left: 10.188rem;
        width: 39.688rem;
        height: 5rem;
        font-family: 'Titillium Web', sans-serif, '400';
        font-size: 1rem;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.25;
        letter-spacing: normal;
        color: #4e555a;
    }
    .Want-to-find-out-mor .text-style-1 {
        color: var(--dark-sky-blue-three);
    }
    .bg-model {
        width: 90rem;
        height: 90.25rem;
        background-color: rgba(0, 0, 0, 0.9);
        opacity: 0.9;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        top: 0;
        display: none;
    }
    .model {
        position: absolute;
        margin-top: -17.938rem;
        width: 57.188rem;
        height: 17.313rem;
        border-radius: 5px;
        display: block;
        background-color:  #ffffff;
    }
    .close {
        width: 2.125rem;
        height: 1.688rem;
        background-color:#4a90e2 var(--dark-sky-blue-two);
    }
    .Download {
        position: absolute;
        display: block;
        margin-top: 5.625rem;
        margin-left: 11.928rem;
        width: 39.688rem;
        height: 2.5rem;
        font-family: 'Titillium Web', sans-serif, '600';
        font-size: 1rem;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.25;
        letter-spacing: normal;
        color: #4e555a;
    }
    .info {
        position: absolute;
        margin-top: 9.438rem;
        margin-left: 11.563rem;
        width: 25.063rem;
        height: 2.5rem;
        border-radius: 15px;
        border: solid 1px rgba(151, 151, 151, 0.34);
        background-color: #ffffff;
    }
    .inputbox button {
        position: absolute;
        margin-top: 9.438rem;
        margin-left: 39.75rem;
        width: 11.25rem;
        height: 2.5rem;
        border-radius: 25px;
        border: solid 2px #459de9;
    }
    .submit {
        width: 5.938rem;
        height: 0.813rem;
        font-family: 'Titillium Web', sans-serif, '600';;
        font-size: 0.875rem;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #429def;
    }
    .inputbox button:hover {
        cursor: pointer;
        background-color: #4a90e4;
        color: #ffffff;
        opacity: 0.8;
    }
    .background-img2 {
        position: absolute;
        margin-top: 5.5rem;
        margin-left: 5rem;
        width: 4.688rem;
        height: 4.688rem;
        display: block;
        background-color: #5b9de3;
        border-radius: 8px;
    }

    /*sidebar add to cart items*/
    .remove button {
        position: absolute;
        margin-left: 23.563rem;
        margin-top: 1.375rem;
        width: 1.688rem;
        height: 1.688rem;
        border-radius: 50%;
        border: solid 2px #4a4a4a;     
    }
    .cancell {
        width: 27.063rem;
        height: 57.063rem;
        box-shadow: 0 15px 30px 0 rgba(25, 71, 128, 0.2);
        background-color: #ffffff;
    }
    .sidebar  {
        position: absolute;
        margin-top: 4.313rem;
        margin-left: 62.938rem;
        display: flex;
        display: none;
        top: 0;
        right: 0;
        transition: 0.5s;
        width: 27.063rem;
        height: 57.063rem;
        box-shadow: 0 15px 30px 0 rgba(25, 29, 34, 0.2);
        background-color: #ffffff;
    }
    .sideh2 {
      position: relative;
      display: block;
      margin-top: 4.188rem;
      margin-left: 1.438rem;
      width: 30.313rem;
      height: 3.188rem;
      font-family:  'Titillium Web', sans-serif, '600';
      font-size: 3.125rem;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #343d42 var(--charcoal-grey);
    }
    .Items {
        position: absolute;
        margin-top: 9.438rem;
        margin-left: 2rem;
        width: 2rem;
        height: 1.125rem;
        font-family: 'Titillium Web', sans-serif, '400';
        font-size: 0.75rem;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: normal;
        color: #4a4a4a;
    } 
    .remove-product  {
        margin-left: -4.125rem;
        cursor: pointer; 
    }
    .product-image {
        margin-top: 1.25rem;
        margin-left: 1rem;
        width: 5.625rem;
        height: 5.625rem;
    }
    .part-2 {
        margin-left: 0.5rem;
        margin-top: 1.25rem;
    }
    .product-details {
        width: 15.5rem;
        height: 3.313rem;
        font-family: 'Titillium Web', sans-serif, '400';
        font-size: 0.938rem;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.67;
        letter-spacing: normal;
        color: #4a90e2 
    }
    .product-price {
        width: 13rem;
        height: 1.625rem;
        font-family: 'Titillium Web', sans-serif, '400';
        font-size: 0.938rem;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.2;
        letter-spacing: normal;
        color: #4a4a4a;
    }
    .product {
        display: flex;
        justify-content: baseline;
    }
    .Line1 {
        margin-top: 11.938rem;
        margin-left: -5rem;
        width: 23.125rem;
        height: 0.125rem;
        border: solid 1px #dbdbdb;
    }
    .Line2 {
        margin-top: 1.75rem;
        margin-left: -5rem;
        width: 23.125rem;
        height: 0.125rem;
        border: solid 1px #dbdbdb;
    }
    .Line3 {
        margin-top: 1.75rem;
        margin-left: -5rem;
        width: 23.125rem;
        height: 0.125rem;
        border: solid 1px #dbdbdb;
    }
    .view-busket button {
        position: relative;
        margin-top: 43rem;
        margin-left: -25rem;
        width: 23.125rem;
        height: 2.5rem;
        border-radius: 22.5px;
        border: solid 2px #60a0e3;
    }
    .view-busket button:hover {
        cursor: pointer;
        background-color: #4a90e4;
        color: #ffffff;
        opacity: 0.8;
    }
    .view {
        width: 22.75rem;
        height: 1.125rem;
        font-family: 'Titillium Web', sans-serif, '600';
        font-size: 0.875rem;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.29;
        letter-spacing: normal;
        text-align: center;
        color: #4492f4;
    }



.footer img {
  width: 1440px;
  height: 462px;
}

.column-label {
  display: inline;
  justify-content: baseline;
}
